<section>
    <label class="col-sm-2 control-label">account id</label>
    <input type="text" ng-model="controller.assetAccountId">
    <br>
    <label class="col-sm-2 control-label">serial number</label>
    <input type="text" ng-model="controller.assetSerialNumber">
    <br>
    <button class="btn btn-default" ng-click="controller.showAddAssetModal()">
        add asset
    </button>

    <div ng-if="controller.asset.id">
        <h4>result:</h4>
        <pre>
            {{controller.asset|json}}
        </pre>

    </div>
</section>