<section ng-form="addAssetReqForm">
    <div class="modal-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="controller.cancel(addAssetReqForm)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Asset</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label
                        for="serialNumber"
                        class="col-sm-4 control-label">
                    Serial Number
                </label>

                <div class="col-sm-8">
                    <input
                            id="serialNumber"
                            name="serialNumber"
                            type="text"
                            class="form-control"
                            ng-model="controller.addAssetReqData.serialNumber"
                            ng-required="true"
                            ng-maxlength="80"
                            ng-minlength="1"
                            ng-disabled="controller.config.assetSerialNumber"
                            ng-readonly="controller.config.assetSerialNumber">

                    <div ng-show="addAssetReqForm.serialNumber.$touched||addAssetReqForm.$submitted">
                        <ng-messages class="help-block" for="addAssetReqForm.serialNumber.$error">
                            <div ng-messages-include="add-asset-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="productLineId"
                        class="col-sm-4 control-label">
                    Product Line
                </label>

                <div class="col-sm-8">
                    <select
                            id="productLineId"
                            name="productLineId"
                            class="form-control"
                            ng-options="productLine.id as productLine.name for productLine in controller.productLineList"
                            ng-model="controller.addAssetReqData.productLineId"
                            ng-required="true">
                        <option value="">select...</option>
                    </select>

                    <div ng-show="addAssetReqForm.productLineId.$touched||addAssetReqForm.$submitted">
                        <ng-messages class="help-block" for="addAssetReqForm.productLineId.$error">
                            <div ng-messages-include="add-asset-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="description"
                        class="col-sm-4 control-label">
                    Description
                </label>

                <div class="col-sm-8">
                    <input
                            id="description"
                            name="description"
                            type="text"
                            class="form-control"
                            ng-model="controller.addAssetReqData.description"
                            ng-required="false"
                            ng-maxlength="100"
                            ng-minlength="1">

                    <div ng-show="addAssetReqForm.description.$touched||addAssetReqForm.$submitted">
                        <ng-messages class="help-block" for="addAssetReqForm.description.$error">
                            <div ng-messages-include="add-asset-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose(addAssetReqForm)">
                    save and close
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.cancel(addAssetReqForm)">
                    cancel
                </button>
            </div>
        </div>
    </div>
</section>